<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UserManagement</title>
    <link rel="stylesheet" th:href="@{vendor/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{vendor/font-awesome/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link th:href="@{css/page.css}" rel="stylesheet" type="text/css" media="all"/>

    <style type="text/css">
        /** 图片动画显示和悬停放大**/
        .photo_img{
            cursor: pointer;
            transition: all 1.0s;
        }
        .photo_img:hover{
            transform: scale(2.6);
        }
    </style>
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <div class="page-header">
        <nav class="navbar page-header">
            <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                <i class="fa fa-bars"></i>
            </a>

            <a class="navbar-brand" href="#">
                <img src="./imgs/logo.png" alt="logo">
            </a>

            <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                <i class="fa fa-bars"></i>
            </a>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item d-md-down-none">
                    <a href="#">
                        <i class="fa fa-envelope-open"></i>
                        <span class="badge badge-pill badge-danger" th:text="${session.amount}"></span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="./imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                        <span class="small ml-1 d-md-down-none" th:text="${session.superuser.getSuperName()}"></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a th:href="@{/admin/logout}" class="dropdown-item">
                            <i class="fa fa-lock"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item">
                        <a th:href="@{/admin/home}" class="nav-link">
                            <i class="icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/verifyMoneyManage}" class="nav-link active">
                            <i class="icon icon-speedometer"></i> VerifyMoneyManage
                        </a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-target"></i>Management <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a th:href="@{/admin/UserManage}" class="nav-link">
                                    <i class="icon icon-target"></i> UserManage
                                </a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{/admin/OrderManage}" class="nav-link">
                                    <i class="icon icon-target"></i> OrderManage
                                </a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{/admin/ClothManage}" class="nav-link">
                                    <i class="icon icon-target"></i> ClothManage
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="panel panel-info">
                    <h3 class="panel-heading" style="margin-bottom: 20px">金额审核管理</h3>
                    <div class="panel-body">
                        <form th:action="@{/admin/queryByClothName}" method="post">
                            <div class="form-group" style="width: 30%">
                                <button class="btn btn-success" style="float: right">查询</button>
                                <input type="text" name="clothName" id="name" class="form-control" placeholder="请输入服装名称" style="width: 80%">&nbsp
                            </div>
                        </form>
                    </div>
                </div>
                <div id="show">

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/popper.js/popper.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{vendor/chart.js/chart.min.js}"></script>
<script th:src="@{js/carbon.js}"></script>
<script th:src="@{js/demo.js}"></script>
<script>
    $(function () {
        $('#show').html("")
        var show = '<table class="table table-bordered table-striped table-hover">' +
            '<tr class="label-success" >' +
            '<th style="width:8%">序号</th>' +
            '<th style="width:15%">充值用户</th>' +
            '<th style="width:18%">联系电话</th>' +
            '<th style="width:18%">充值金额数</th>' +
            '<th style="width:18%">充值时间</th>' +
            '<th>操作</th>' +
            '</tr>'
        $.ajax({
            type: "get",
            url: "/admin/showVerifyMoneyManage",
            cache: false,
            success: function (msg) {
                var verifymoney = msg.records
                for(var i=0;i < msg.records.length;i++){
                    show += '<tr>' +
                        '<td>'+((i+1)+9*(msg.current-1))+'</td>' +
                        '<td>'+verifymoney[i].verifyUsername+'</td>' +
                        '<td>'+verifymoney[i].verifyUserphone+'</td>' +
                        '<td>'+verifymoney[i].verifyAmount+'</td>'+
                        '<td>'+verifymoney[i].verifyTime+'</td>'
                    show += '<td><a href="javascript:verifySuccess(\''+verifymoney[i].id+'\');" class="btn btn-success btn-sm">通过</a>&nbsp' +
                        '<a href="javascript:verifyFail(\''+verifymoney[i].id+'\');" class="btn btn-success btn-sm">不通过</a></td>' +
                        '</tr>'
                }
                show += '</table>'
                show += '<div class="center"><ul class="pageh1"><li><a href="javascript:void(0)" onclick="choosePage(' + msg.current + ',0)">上一页</a></li>'
                for (var j = 1; j <= msg.pages && j < 4; j++) {
                    show += '<li><a href="javascript:void(0)" onclick="choosePage(' + j + ',1)">' + j + '</a></li>'
                }
                show += '<li><a href="javascript:void(0)" onclick="choosePage(' + msg.current + ',2)">下一页</a></li>' +
                    '</ul>' +
                    '<div>showing 1-10 of ' + msg.total + 'results</div></div>'
                $('#show').append(show)
            }
        })
    })


    function choosePage(current, sign) {
        $.ajax({
            type: 'GET',
            url: '/admin/VerifyMoneyManagePage',
            data: {current: current, sign: sign},
            cache: false,
            dataType: 'json',
            success: function (msg) {
                $('#show').html("")
                var show = '<table class="table table-bordered table-striped table-hover">' +
                    '<tr class="label-success" >' +
                    '<th style="width:8%">序号</th>' +
                    '<th style="width:15%">充值用户</th>' +
                    '<th style="width:18%">联系电话</th>' +
                    '<th style="width:18%">充值金额数</th>' +
                    '<th style="width:18%">充值时间</th>' +
                    '<th>操作</th>' +
                    '</tr>'
                var verifymoney = msg.records
                for(var i=0;i < msg.records.length;i++){
                    show += '<tr>' +
                        '<td>'+((i+1)+9*(msg.current-1))+'</td>' +
                        '<td>'+verifymoney[i].verifyUsername+'</td>' +
                        '<td>'+verifymoney[i].verifyUserphone+'</td>' +
                        '<td>'+verifymoney[i].verifyAmount+'</td>'+
                        '<td>'+verifymoney[i].verifyTime+'</td>'
                    show += '<td><a href="javascript:verifySuccess(\''+verifymoney[i].id+'\');" class="btn btn-success btn-sm">通过</a>&nbsp' +
                        '<a href="javascript:verifyFail(\''+verifymoney[i].id+'\');" class="btn btn-success btn-sm">不通过</a></td>' +
                        '</tr>'
                }
                show += '</table>'
                show += '<div class="center"><ul class="pageh1"><li><a href="javascript:void(0)" onclick="choosePage(' + msg.current + ',0)">上一页</a></li>'
                for (var j = 1; j <= msg.pages && j < 4; j++) {
                    show += '<li><a href="javascript:void(0)" onclick="choosePage(' + j + ',1)">' + j + '</a></li>'
                }
                show += '<li><a href="javascript:void(0)" onclick="choosePage(' + msg.current + ',2)">下一页</a></li>' +
                    '</ul>' +
                    '<div>showing 1-10 of ' + msg.total + 'results</div></div>'
                $('#show').append(show)
            }
        })
    }

    function verifySuccess(id) {
        $.ajax({
            type: 'GET',
            url: '/admin/verifySuccess',
            data: {id: id},
            cache: false,
            dataType: 'json',
            success: function (msg){
                if(msg == 0){alert("操作成功")
                    location.href = '/admin/verifyMoneyManage'}
                else alert("网络异常，请重试！")
            }
        })
    }
    function verifyFail(id) {
        $.ajax({
            type: 'GET',
            url: '/admin/verifyFail',
            data: {id: id},
            cache: false,
            dataType: 'json',
            success: function (msg){
                if(msg == 0){alert("已取消")
                    location.href = '/admin/verifyMoneyManage'}
                else alert("网络异常，请重试！")
            }
        })
    }
</script>
</body>

</html>
