<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.cloth.core.dal.dao.ClothDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.shop.cloth.core.dal.domain.Cloth">
                    <id column="id" property="id"/>
                    <result column="cloth_sex" property="clothSex"/>
                    <result column="cloth_brand" property="clothBrand"/>
                    <result column="cloth_size" property="clothSize"/>
                    <result column="cloth_color" property="clothColor"/>
                    <result column="cloth_price" property="clothPrice"/>
                    <result column="cloth_picurl" property="clothPicurl"/>
                    <result column="cloth_name" property="clothName"/>
                    <result column="cloth_stock" property="clothStock"/>
                    <result column="cloth_sellamount" property="clothSellamount"/>
                    <result column="cloth_ishotsell" property="clothIshotsell"/>
                    <result column="is_delete" property="isDelete"/>
                    <result column="cloth_bigpicurl" property="clothBigpicurl"/>
                    <result column="cloth_smallpicurl" property="clothSmallpicurl"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       id,cloth_sex,cloth_brand,cloth_size,cloth_color,cloth_price,cloth_picurl,cloth_name,cloth_stock,cloth_sellamount,cloth_ishotsell,is_delete,cloth_bigpicurl,cloth_smallpicurl
        </sql>
</mapper>